.contact{
    display: flex;
    justify-content: center;align-items: center;
    height: 75vh;
}
.contact__right{
    width: 500px;
}
.contact__container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 80%;
}
.contact__title--h2{
    margin: 0 0 20px;
}
.contact__title--h3{
    margin: 0 0 10px;
    font-size: 1rem;
}
.contact__text{
    margin: 0 0 10px;
}
.contact__form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    gap: 15px;
}
.contact__label{
    display: block;
    padding: 0 0 10px;
}
.contact__input--text,
.contact__textarea{
    padding: 6px 10px;
    font-size: 1rem;
    outline: none;
    border: 1px solid #000;
    border-radius: 3px;
    width: 100%;
}
.contact__textarea{
    display: flex;
    resize: none;
    height: 100px;
}
.contact__input--btn{
    width: 100px;
    height: 100px;
    color: #000;
    background: var(--snd__bg--color);
    border: 1px solid var(--snd__border--color);
    border-radius: 100%;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease;
}
.contact__input--btn:hover{
    transform: scale(.9);
}

/* **************Responsive************** */
@media screen and (min-width:1650px){
    .contact__container{
        width: 60%;
    }
    .contact__right{
        width: 700px;
    }
    .contact__input--text,
    .contact__textarea{
        padding: 10px;
    }
    .contact__textarea{
        height: 200px;
    }
}
@media screen and (max-width:850px){
    .contact{
        height: auto;
        margin: 100px 0 150px;
    }
    .contact__form{
        display: grid;
        margin: 30px 0 0;
    }
    .contact__right{
        width: auto;
    }
    .contact__container{
        flex-direction: column;
    }
    .contact__input--text,
    .contact__textarea{
        padding: 6px 10px;
        font-size: 1rem;
        outline: none;
    }
    .contact__input--btn{
        margin: 30px 0 0;
    }
}
@media screen and (max-width:600px){
    
    .contact__container{
        flex-direction: column;
    }
    .contact__form{
        display: grid;
    }
}