.cv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0;
}
.cv__container{
    width: 80%;
}
.cv__title--h2{
    font-size: 1.1rem;
    padding: 10px 0;
}
.cv__title--h3{
    font-size: .9rem;
    padding: 10px 0;
}
.cv__block{
    display: flex;
    justify-content: space-between;
}
.cv__annee,
.cv__text,
.cv__lieu,
.cv__list{
    font-size: .9rem;
    padding: 10px 0;
}
.cv__item{
    margin: 0 30px;
    list-style: disc;
}
.cv__section{
    border-bottom: 1px solid var(--other__border--color);
}
.cv__langue{
    border-bottom: none;
}
<<<<<<< HEAD
.cv__item--title{
    list-style: none;
    margin: 0;
=======
.competence-container .list-title{
    list-style: none;
    font-size: 1rem;
    margin: 0;
}

.etude{
    border-top: 1px solid #dddcdc;
    border-bottom: 1px solid #dddcdc;
}
.block,
.text,
.list{
    margin-left: 20px;
}
.langue{
    margin-bottom: 80px;
    border-top: 1px solid #dddcdc;
}
.langue h3{
    padding-bottom: 20px;
}
.langue li{
>>>>>>> ef523035cd0c5a38eb549fce2b1d736bcae40cd1
    font-weight: bold;
}
.cv__container--competence{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 0 20px;
}

/* **************Responsive************** */
@media screen and (max-width: 750px) {
    .cv__title--h2{
        font-size: 4vw;
    }
    .cv__title--h3{
        font-size: 2vw;
    }
    .cv__annee,
    .cv__text,
    .cv__lieu,
    .cv__list{
        font-size: 2.2vw;
    }
}